@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import "tailwindcss";

@theme{
  --font-body: "Share Tech", sans-serif;
  --font-display: "Share Tech", sans-serif;
}

body {
  font-family: var(--font-body);
  color: #4f4f4f;
}
